:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content ,mat-card-header{
  display: flex;
  justify-content: center;
  text-align: center;
}
mat-card-title{
  color: darkblue;
}

mat-card-subtitle{
  color: black;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content:  center;
}
.mat-raised-button{
  margin-top: 10px;
  width: 100%;

  height: 40px;

}
