<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title> Laboratoire </mat-card-title>
    <br>
  <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <form [formGroup]="Formuser">

        <div class="col-md-6" >
          <mat-form-field  >
            <mat-label>CIN</mat-label>
            <input matInput formControlName="cin">
          </mat-form-field>
        </div>


        <div class="col-md-6">
          <mat-form-field  >
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="userPassword">
          </mat-form-field>
        </div>


        <mat-card-actions class="button">
          <button mat-raised-button color="primary" (click)="onLoggedin()" type="submit" [disabled]="!Formuser.valid">Submit</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>
</mat-card>
