.full-width{
  width: 85%;
  margin-left: 9%;
}
.form-container{
  margin-top: 5%;
  width: 60%;
  margin-left: 250px;
  padding: 50px;
}
.card-container {
  padding: 10px;
  color: black;
  width: 50%;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;
}
