<mat-card class="card">
  <mat-card-header>
    <mat-card-title>List of Tools</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button routerLink="/AddTools" mat-raised-button color="success">
        Add new tools
      </button>
    </div>
    <br>
    <div class="form-container" >
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
<!--          <ng-container matColumnDef="id">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>-->
<!--            <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--          </ng-container>-->

          <ng-container matColumnDef="namesource">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME OF SOURCE</th>
            <td mat-cell *matCellDef="let element"> {{element.sourceName}} </td>
          </ng-container>

          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE </th>
            <td mat-cell *matCellDef="let element">
              <a href="{{element.source}}">
                {{element.sourceName}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATION DATE </th>
            <td mat-cell *matCellDef="let element" pattern="yyyy-MM-dd"> {{element.date | date:'longDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="membre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MEMBER </th>
            <td mat-cell *matCellDef="let element"> {{element.membreDTO.nom}} </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> ACTION</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [routerLink]="element.id+'/edit'" *ngIf="element.membreDTO.cin==authService.username()">
                <mat-icon> edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="delete(element.id)" *ngIf="element.membreDTO.cin==authService.username()">
                <mat-icon> delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<br>




