<div class="row">
  <mat-card class="form-container" color="primary">
    <mat-card-title color="primary"> <mat-icon mat-card-avatar>account_circle</mat-icon>Member</mat-card-title>
    <mat-card-subtitle>
      <div class="col-md-6">
        <a mat-list-item routerLink="/members">
          List of Member
        </a>
      </div>
      <div class="col-md-6">
        <a *ngIf="authService.isAdmin()==true" mat-list-item routerLink="/ADD">
          add new Member
        </a>
      </div>
    </mat-card-subtitle>

  </mat-card>
  <mat-card class="form-container" >
    <mat-card-title> <mat-icon mat-card-avatar>construction</mat-icon>Tools</mat-card-title>
    <mat-card-subtitle>
      <div class="col-md-6">
        <a mat-list-item routerLink="/Tools">
          List of Tools
        </a>
      </div>
      <div class="col-md-6">
        <a mat-list-item routerLink="/AddTools">
          add new Tools
        </a>
      </div>
    </mat-card-subtitle>

  </mat-card>
  <mat-card class="form-container" >
    <mat-card-title> <mat-icon mat-card-avatar> article</mat-icon>Article</mat-card-title>
    <mat-card-subtitle>
      <div class="col-md-6">
        <a mat-list-item routerLink="/article">
          List of Article
        </a>
      </div>
      <div class="col-md-6">
        <a  mat-list-item routerLink="/AddArticle">
          add new Article
        </a>
      </div>
    </mat-card-subtitle>

  </mat-card>
  <mat-card class="form-container" >
    <mat-card-title> <mat-icon mat-card-avatar> event</mat-icon>Event</mat-card-title>
    <mat-card-subtitle>
      <div class="col-md-6">
        <a mat-list-item routerLink="/event">
          List of Event
        </a>
      </div>
      <div class="col-md-6">
        <a mat-list-item routerLink="/Addevent">
          add new Event
        </a>
      </div>
    </mat-card-subtitle>

  </mat-card>
</div>


