<mat-card class="card">
  <mat-card-header>
    <mat-card-title>List of Member</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="authService.isAdmin()==true" routerLink="/ADD" mat-raised-button color="success">
        Add new member
      </button>
    </div>
    <br>
    <div class="form-container">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
<!--          <ng-container matColumnDef="id">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>-->
<!--            <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--          </ng-container>-->


          <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CIN</th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
          </ng-container>


          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME</th>
            <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
          </ng-container>


          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE</th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>
          <ng-container matColumnDef="cv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CV </th>
            <td mat-cell *matCellDef="let element">

            <mat-icon (click)="downloadPDF(element.cv , element.nom)">picture_as_pdf</mat-icon>

            </td>
          </ng-container>
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATION DATE </th>
            <td mat-cell *matCellDef="let element" pattern="yyyy-MM-dd"> {{element.createddate | date:'longDate'}} </td>

          </ng-container>
          <ng-container  matColumnDef="action" stickyEnd>
            <th  mat-header-cell  *matHeaderCellDef> <a *ngIf="authService.isAdmin()==true"> ACTION </a> </th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="authService.isAdmin()==true" mat-icon-button [routerLink]="element.id+'/edit'" >
                <mat-icon> edit</mat-icon>
              </button>

              <button *ngIf="authService.isAdmin()==true" mat-icon-button color="warn"(click)="delete(element.id)" >
                <mat-icon> delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<br>

